header {
    height: 100%;
    padding-top: 8rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

.header_container > h5 {
    color: var(--color-light);
}

/* ============= CTA ========== */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ============= Header-Socials ========== */
.header_socials {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header_socials::after {
    content: "";
    width: 2px;
    height: 2rem;
    background: var(--color-primary);
}

/* ============= ME ========== */
.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: relative;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/* ============ Media queries (Smal devices) =============== */
@media screen and (max-width: 600px){
  .header_socials {
      display: none;
  }
}